{% extends 'base.html.twig' %}

{% block title %}accueilgit {% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt3">
        <h1 class="display-3">Bienvenue sur mon portofolio!</h1>
        <p class="lead">ici je presente , ce que j'ai pu realiser (lors de formation ou tuto) </p>
        <hr class="my-4">
        <p>ce site a ete realise en symfony 4 et evoluera au fil de mes apprentissages</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">voir plus ..</a>
        </p>
    </div>
        <h2>Mes realisations</h2>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        Site <strong>full php </strong> <br>
                        <small> a venir...</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="page d'accueil cinefa" style="height:200px;width:100%;display:block"> 
                    <div class="card-body">
                        <h4 class="card-title">
                        cinefa , projet de formation
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat nisi repellendus hic, quia esse explicabo delectus eaque dolorem magni.
                        </p>
                        <a href="#" class="btn btn-secondary">voir le site</a>
                    </div>
                </div>
            </div>   
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        Site <strong>full php </strong> <br>
                        <small> a venir...</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="page d'accueil cinefa" style="height:200px;width:100%;display:block"> 
                    <div class="card-body">
                        <h4 class="card-title">
                        cinefa , projet de formation
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat nisi repellendus hic, quia esse explicabo delectus eaque dolorem magni.
                        </p>
                        <a href="#" class="btn btn-secondary">voir le site</a>
                    </div>
                </div>
            </div>   
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        Site <strong>full php </strong> <br>
                        <small> a venir...</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="page d'accueil cinefa" style="height:200px;width:100%;display:block"> 
                    <div class="card-body">
                        <h4 class="card-title">
                        cinefa , projet de formation
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro placeat nisi repellendus hic, quia esse explicabo delectus eaque dolorem magni.
                        </p>
                        <a href="#" class="btn btn-secondary">voir le site</a>
                    </div>
                </div>
            </div>  
        </div>
        <h2>Mes competences</h2>
        <div class="row mt-5 mb-5">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">PHP</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="logo php" class="float-left mr-3">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus excepturi mollitia, facere et numquam temporibus minima tempore nemo laboriosam!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">PHP</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="logo php" class="float-left mr-3">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus excepturi mollitia, facere et numquam temporibus minima tempore nemo laboriosam!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">PHP</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="logo php" class="float-left mr-3">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus excepturi mollitia, facere et numquam temporibus minima tempore nemo laboriosam!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}